:root {
  --bg-color: #fdfff2;
  --default-text: #000000;
  --default-desc: #2d2b2b;

  --z-topBar: 998;
  --z-toggler: 999;
}

@keyframes fadeInDown {
  0% {
    position: relative;
    transform: translateY(-50%);
    opacity: 0;
    filter: brightness(40%);
  }
  100% {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    filter: brightness(100%);
  }
}
@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}

body {
  background: var(--bg-color);
  padding: 15px 15px;
}

.topBar {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.topBar_Name {
  color: #339099;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Josefin Sans';
}
.topBar_Name::after {
  content: '.';
  margin-left: 3px;
  color: black;
}

.topBar_Toggler {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 24px;
  min-height: 24px;
  z-index: var(--z-toggler);
}
.topBar_Toggler div {
  position: relative;
  height: 2.5px;
  background: black;
  border-radius: 5px;
  width: 100%;
  transition: all 0.4s;
}
.topBar_Toggler div.timesBar {
  position: absolute;
  background: black;
}
.topBar_Toggler__Bar1.timesBar {
  transform: rotate(45deg);
}
.topBar_Toggler__Bar3.timesBar {
  transform: rotate(-45deg);
}

.topBar_Content {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffffe2;
  width: 100%;
  height: 100vh;
  z-index: var(--z-topBar);
  display: none;
}
.topBar_Content__List {
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.topBar_Content__listItem {
  list-style: none;
  text-align: center;
  line-height: 4.5rem;
  font-size: 1.2rem;
}
.topBar_Content__listItem a {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-family: 'Josefin Sans';
  font-weight: 600;
  transition: all 0.6s ease-out;
}
.topBar_Content__listItem:nth-child(even) a {
  left: -80%;
}
.topBar_Content__listItem:nth-child(odd) a {
  left: 80%;
}
.topBar_Content__listItem a.active {
  left: 0;
}

.topHead_imgDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topHead_img {
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 80%;
  animation: fadeInDown 1s;
}

.topHead_Content__name{
  padding: 4px 10px;
  padding-top: 8px;
  background: #b69405;
  color: white;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  text-transform: uppercase;
}

.topHead_Content__iam{
  margin-top: 35px;
  font-size: 1.9rem;
  font-family: 'Josefin Sans';
  font-weight: 700;
}
.topHead_Content__iam .iam{
  color: #339099;
}
.topHead_Content__iam .iam::after{
  content: '|';
  font-size: 2.1rem;
  font-family: Verdana;
  margin-left: 5px;
  font-weight: 700;
  animation: blink 1.5s infinite;
}

.topHead_Content__desc{
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Josefin Sans;
  color: var(--default-desc);
}

.topHead_Content__reachMe{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 25px;
}
.hireMe, .downloadCv{
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
}
.hireMe{
  background: #7430ee;
  color: white;
  margin-right: 20px;
}
.downloadCv{
  background: #f2f2f2;
  color: black;
}
.downloadCv i{
  margin-left: 8px;
}

.topHead_Content__socials{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 25px;
}
.topHead_Content__socials a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.1rem;
  box-sizing: border-box;
  background: var(--bg-color);
  box-shadow: 0 2px 3px 2px rgba(0,0,0,0.3);
}

.main_aboutMe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_aboutMe h1{
  text-align: center;
  font-family: Josefin Sans;
}
.main_aboutMe__Intro{
  padding: 10px 30px;
  margin: auto 10px;
  margin-top: 15px;
  text-align: center;
  background: var(--bg-color);
  box-shadow: 6px 6px 15px 2px rgba(0,0,0,0.2);
  border-radius: 1.4rem;
}
.main_aboutMe__IntroPara{
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: Josefin Sans;
  color: var(--default-desc);
}
.main_aboutMe .downloadCv{
  padding: 13px 20px;
  background: #7430ee;
  border-radius: 45px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  margin-right: 0;
  display: inline-block;
}

.main_skills{
  margin-top: 45px;
}
.main_skills h1{
  color: black;
  text-align: center;
  font-family: Josefin Sans;
}
.main_skills__div{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.main_skills__skill{
  text-align: left;
  margin-top: 15px;
}
.skill_title{
  font-family: Josefin Sans;
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 7px;
}
.skillMeter{
  height: 5px;
  width: 100%;
  background-color: #e7e2ea;
  position: relative;
}
.skill_eff{
  border-radius: 0 5px 5px 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #7430ee;
}